mini project 3rd sem
study material sem 2/Ajit Singhal 201500052 electronics lab manual.pdf
study material sem 2/Group 8.xlsx
study material sem 2/Student Detail B. Tech. I Year.xlsx
study material sem 5/ML/Notebooks